/* You can add global styles to this file, and also import other style files */
body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}

.bttn1{
    background-image: linear-gradient(to right, rgba(236, 132, 77, 1) 0%,rgba(235, 100, 86, 1) 35%, rgba(235, 83, 90, 1) 51%,rgba(235, 83, 90, 1) 100%);
    color: white;
    /* border: 1px solid white; */
    padding-right: 20px  ;
    padding-left: 20px  ;
}

.btn:hover{
color: white !important;
}
