<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar></app-nav-bar>

    
    <div id="home">
        <div class="container">
            <div class="row pt-5">
                <div class="content mt-5 col-md-8 col-lg-8 col-xl-6">
                    <div class="mt-5">
                        <img src="../../assets/Time.png" alt="" class="img-fluid">
                        <h2 >Algorithmic & Blockchain 
                            Solutions for Crypto
                            Investments</h2>
                        <button class="btn bttn1 p-3 me-3 my-4 " >Buy Tokens</button>
                        <button class="btn bttn2 p-3 me-3 my-4" >Sign Up To Join</button>
    
                    </div>

                </div>
            </div>
            

        </div>
        

    </div>

</body>
</html>